@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --gradiente-vermelho: linear-gradient(100deg, #6c002a 0%, #ed002c 100%);
  --preto: #08111a;
  --text-color: #f8f8f8;
  --font-family: "Lobster";
  --font-hero-family: "Bebas Neue", serif;
  --bg-hero: #fa002d;
  --bg-secondary: #2d2d2d;
  --Cinza: linear-gradient(180deg, #0e1822 0%, #2d2d2d 30%, #2d2d2d 100%);
  --black-shade: linear-gradient(60deg, #1f1f1f 0%, #000000 100%);
  --Gradiente-azul: linear-gradient(30deg, #000000 0%, #234769 100%);
}
.Footer-bg {
  background: rgb(3, 10, 17);
}
.Gradiente-azul {
  background: var(--Gradiente-azul);
}
.gradiente-vermelho {
  background: var(--gradiente-vermelho);
}
.black-shade {
  background: var(--black-shade);
}
.font-hero-family {
  font-family: var(--font-hero-family);
}
.font-family {
  font-family: var(--font-family);
}
.preto {
  background: var(--preto);
}
.Cinza {
  background: var(--Cinza);
}
.text-color {
  color: var(--text-color);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
hr {
  border: none;
  border-radius: 50px;
  margin-top: 10px;
  height: 3px;
  background: var(--gradiente-vermelho);
  width: 100%;
}
