.form {
  width: 1170px;
  margin: auto;
  display: flex;
  gap: 20px;
}
.form input {
  border: 1px solid black;
  flex-basis: 80%;
  height: 40px;
}

.form button {
  flex-basis: 20%;
  border: 1px solid black;
}

.outerdiv {
  width: 1170px;
  margin: auto;
}
.outerdiv ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 50px;
}
.outerdiv ul li {
  border: 1px solid black;
  background-color: teal;
  text-align: left;
  position: relative;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}
.outerdiv ul li span {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.completetodo {
  text-decoration: line-through;
  color: red;
  background-color: lime;
}
.todo-app {
  background-color: lightgray;
}
